@model tatoo.shop.Models.IndexPageModel
@{
    ViewBag.Title = "Index.cshtml";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}


<div id="featured">
    <h2><a href="#">Latest Work</a></h2>
    <ul id="section1">
        <li><a href="#">
            <img src="@Url.Content("~/Template/tattooshopwebsitetemplate/images/shoulder-tattoo.jpg")" alt=""></a></li>
        <li><a href="#">
            <img src="@Url.Content("~/Template/tattooshopwebsitetemplate/images/legs-tattoo2.jpg")" alt=""></a></li>
        <li><a href="#">
            <img src="@Url.Content("~/Template/tattooshopwebsitetemplate/images/hips-tattoo.jpg")" alt=""></a></li>
    </ul>
    <a href="#" id="figure">
        <img src="@Url.Content("~/Template/tattooshopwebsitetemplate/images/hips-tattoo2.jpg")" alt=""></a>
    <ul id="section2">
        <li class="first"><a href="#">
            <img src="@Url.Content("~/Template/tattooshopwebsitetemplate/images/arm-tattoo.jpg")" alt=""></a></li>
        <li><a href="#">
            <img src="@Url.Content("~/Template/tattooshopwebsitetemplate/images/legs-tattoo.jpg")" alt=""></a></li>
        <li><a href="#">
            <img src="@Url.Content("~/Template/tattooshopwebsitetemplate/images/shoulder-tattoo2.jpg")" alt=""></a></li>
    </ul>
</div>
<div id="sidebar">
    <div id="news">
        <h3><a href="#">News</a></h3>
        <div class="first">
            <p>This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text.</p>
        </div>
        <div>
            <p>Want an easier solution for a <a rel="nofollow" href="http://www.wix.com/fwthtml/complete-solution?utm_source=freewebsitetemplates&amp;utm_medium=link&amp;utm_term=preview&amp;utm_content=ma_html_fwt_preview3&amp;utm_campaign=ma_fwt&amp;experiment_id=ma_html_fwt_preview3" class="OverlayTrigger" data-href="/click/tl/22/">Free Website</a>? Head straight to <a rel="nofollow" href="http://www.wix.com/fwthtml/400-en?utm_source=freewebsitetemplates&amp;utm_medium=link&amp;utm_term=preview&amp;utm_content=ma_html_fwt_preview2&amp;utm_campaign=ma_fwt&amp;experiment_id=ma_html_fwt_preview2" class="OverlayTrigger" data-href="/click/tl/23/">Wix</a> and immediately start customizing your website!</p>
        </div>
        <div>
            <p><a rel="nofollow" href="http://www.wix.com/fwthtml/400-en?utm_source=freewebsitetemplates&amp;utm_medium=link&amp;utm_term=preview&amp;utm_content=ma_html_fwt_preview2&amp;utm_campaign=ma_fwt&amp;experiment_id=ma_html_fwt_preview2" class="OverlayTrigger" data-href="/click/tl/23/">Wix</a> is an online website builder with a simple drag &amp; drop interface, meaning you do the work online and instantly publish to the web. Nothing to download, nothing to upload.</p>
        </div>
        <a href="#">more</a>
    </div>
    <div id="blogs">
        <h3><a href="#">Blogs</a></h3>
        <div class="first">
            <p>This is just a place holder.</p>
        </div>
        <div>
            <p>This is just a place holder.</p>
        </div>
        <div>
            <p>All <a rel="nofollow" href="http://www.wix.com/fwthtml/400-en?utm_source=freewebsitetemplates&amp;utm_medium=link&amp;utm_term=preview&amp;utm_content=ma_html_fwt_preview2&amp;utm_campaign=ma_fwt&amp;experiment_id=ma_html_fwt_preview2" class="OverlayTrigger" data-href="/click/tl/23/">Wix</a> templates are fully customizable and free to use. Just pick one you like, click Edit, and enter the online editor. Change, add, and remove items as you like.</p>
        </div>
        <a href="#">more</a>
    </div>
</div>

