@using tatoo.shop.Settings;
<ul id="navigation">
    <li class="first selected">
        @Html.ActionLink(Titles.HomePageTitle, "Index", "TatooShop", new { }, new { })
    </li>
    <li>@Html.ActionLink(Titles.PortfolioPageTitle, "Portfolio", "TatooShop", new { }, new { })</li>
    <li>@Html.ActionLink(Titles.AboutPageTitle, "About", "TatooShop", new { }, new { })</li>
     <li>@Html.ActionLink(Titles.RatesPageTitle, "Rates", "TatooShop", new { }, new { })</li>
    <li><a href="#" id="link5">News</a></li>
    <li><a href="#" id="link6">Blogs</a></li>
    <li><a href="#" id="link7">Contact Us</a></li>
</ul>
<a href="@Url.Action("Index", "TatooShop")" id="logo">
    <img src="@Url.Content("~/Template/tattooshopwebsitetemplate/images/logo.gif")" alt="">
</a>